<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.dao.TestDao">
	<resultMap type="org.mybatis.entity.Test"  id="test">
		<result property="id" column="id" />
		<result property="version" column="version" />
		<result property="name" column="name" />
	</resultMap>
</mapper>